input  {
  color: #351e29;
  height: 60px;
  width: 50%;
  font-size: 25px;
  background-color: white;
  border: 6px solid white;
  text-align: center;
  border-radius: 100px;
  margin-bottom: 50px;
  margin-right: 0px;
}

::placeholder {
  color: #351e29;
}

.search-bar {
  display: flex;
  justify-content: center;
}
