body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  background: rgba(247, 245, 245, 0.219);
  color: rgb(71, 81, 92);
  display: flex;
  justify-content: center;
  align-items: center;
}

body * {
  box-sizing: border-box;
}
